In [1]:
pip install word2number

Requirement already satisfied: word2number in c:\users\satya\appdata\local\programs\python\python312\lib\site-packages (1.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
from sklearn import linear_model
from word2number import w2n

In [3]:
df=pd.read_csv("hiring.csv")
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [4]:
df.experience=df.experience.fillna('zero')

In [5]:
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [6]:
for i in range(len(df['experience'])):
    value = df['experience'].iloc[i]
    if isinstance(value, str):
        df['experience'].iloc[i] = w2n.word_to_num(value)

C:\Users\satya\AppData\Local\Temp\ipykernel_18548\1128650570.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['experience'].iloc[i] = w2n.word_to_num(value)
C:\Users\satya\AppData\Local\Temp\ipykernel_18548\1128650570.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['experience'].iloc[i] = w2n.word_to_num(value)
C:\Users\satya\AppData\Local\Temp\ipykernel_18548\1128650570.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['experience'].iloc[i] = w2n.word_to_num(value)
C:\Users\satya\AppData\Local\Temp\ipykernel_18548\1128650570.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['experience'].iloc[i] = w2n.word_to_num(value)
C:\Users\satya\AppData\Local\Temp\ipykernel_18548\1128650570.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['experience'].iloc[i] = w2n.word_to_num(value)
C:\Users\satya\AppData\Local\Temp\ipykernel_18548\1128650570.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['experience'].iloc[i] = w2n.word_to_num(value)
C:\Users\satya\AppData\Local\Temp\ipykernel_18548\1128650570.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['experience'].iloc[i] = w2n.word_to_num(value)
C:\Users\satya\AppData\Local\Temp\ipykernel_18548\1128650570.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['experience'].iloc[i] = w2n.word_to_num(value)

In [7]:
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0          0                    8.0                           9      50000
1          0                    8.0                           6      45000
2          5                    6.0                           7      60000
3          2                   10.0                          10      65000
4          7                    9.0                           6      70000

In [8]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0          0                    8.0                           9      50000
1          0                    8.0                           6      45000
2          5                    6.0                           7      60000
3          2                   10.0                          10      65000
4          7                    9.0                           6      70000
5          3                    7.0                          10      62000
6         10                    NaN                           7      72000
7         11                    7.0                           8      80000

In [9]:
df.rename(columns={'test_score(out of 10)':'test_score_out_of_10'}, inplace = True)
import math
median=math.floor(df.test_score_out_of_10.mean())
median

7

In [10]:
df.test_score_out_of_10=df.test_score_out_of_10.fillna(median)
df

  experience  test_score_out_of_10  interview_score(out of 10)  salary($)
0          0                   8.0                           9      50000
1          0                   8.0                           6      45000
2          5                   6.0                           7      60000
3          2                  10.0                          10      65000
4          7                   9.0                           6      70000
5          3                   7.0                          10      62000
6         10                   7.0                           7      72000
7         11                   7.0                           8      80000

In [11]:
model=linear_model.LinearRegression()

In [12]:
model.fit(df[['experience','test_score_out_of_10','interview_score(out of 10)']],df['salary($)'])

LinearRegression()

In [13]:
model.predict([[2,9,6]])

C:\Users\satya\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53713.86677124])

In [14]:
model.predict([[12,10,10]])

C:\Users\satya\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([93747.79628651])